<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- User Profile-->
                <li>
                    <!-- User profile -->
                    <div class="user-profile text-center position-relative pt-4 mt-1">
                        <!-- User profile image -->
                        <div class="profile-img m-auto"> <img src="../assets/images/users/1.jpg" alt="user"
                                class="w-100 rounded-circle" /> </div>
                        <!-- User profile text-->
                        <div class="profile-text py-1"> <a href="#" class="dropdown-toggle link u-dropdown"
                                data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Markarn
                                Doe <span class="caret"></span></a>
                            <div class="dropdown-menu animated flipInY">
                                <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                                <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                                <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                                <div class="dropdown-divider"></div> <a href="#" class="dropdown-item"><i
                                        class="ti-settings"></i> Account Setting</a>
                                <div class="dropdown-divider"></div> <a href="login.html" class="dropdown-item"><i
                                        class="fa fa-power-off"></i> Logout</a>
                            </div>
                        </div>
                    </div>
                    <!-- End User profile text-->
                </li>


                <li class="nav-devider"></li>
                <li class="nav-small-cap"><i class="mdi mdi-dots-horizontal"></i> <span class="hide-menu">Forms</span>
                </li>
                <li class="sidebar-item"><a href="/settings" class="sidebar-link"><i
                            class="mdi mdi-code-equal"></i><span class="hide-menu">Campain</span></a></li>
                <li class="sidebar-item"><a href="/users" class="sidebar-link"><i class="mdi mdi-code-equal"></i><span
                            class="hide-menu">List Users</span></a></li>
                <li class="sidebar-item"><a href="/statistics" class="sidebar-link"><i
                            class="mdi mdi-code-equal"></i><span class="hide-menu">Statistics Users</span></a></li>
                <li class="nav-devider"></li>



                <li class="nav-small-cap"><i class="mdi mdi-dots-horizontal"></i> <span class="hide-menu">Extra</span>
                </li>
                <li class="sidebar-item"> <a id="btnLogout" class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="/logout" aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span
                            class="hide-menu">Log Out</span></a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
        <!-- item-->
        <a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
    </div>
    <!-- End Bottom points-->


</aside>