<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Airdrop bot control panel</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/monsteradmin/" />
    <!-- Custom CSS -->
    <link href="/stylesheets/style-theme.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            <img src="../assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo text -->
                            <img src="../assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="icon-arrow-left-circle"></i></a></li>
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu mailbox animated bounceInDown">

                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-email"></i>
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu mailbox animated bounceInDown" aria-labelledby="2">

                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- mega menu -->
                        <!-- ============================================================== -->

                        <!-- ============================================================== -->
                        <!-- End mega menu -->
                        <!-- ============================================================== -->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box d-none d-md-block">
                            <form class="app-search mt-3 mr-2">
                                <input type="text" class="form-control rounded-pill border-0" placeholder="Search for...">
                                <a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <div class="d-flex no-block align-items-center p-3 mb-2 border-bottom">
                                    <div class=""><img src="../assets/images/users/1.jpg" alt="user" class="rounded" width="80"></div>
                                    <div class="ml-2">
                                        <h4 class="mb-0">Steave Jobs</h4>
                                        <p class=" mb-0">varun@gmail.com</p>
                                        <a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View
                                            Profile</a>
                                    </div>
                                </div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user mr-1 ml-1"></i> My
                                    Profile</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet mr-1 ml-1"></i>
                                    My Balance</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email mr-1 ml-1"></i>
                                    Inbox</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings mr-1 ml-1"></i>
                                    Account Setting</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-power-off mr-1 ml-1"></i> Logout</a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- create new -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="flag-icon flag-icon-us"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right  animated bounceInDown" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-us"></i> English</a>
                                <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-fr"></i> French</a>
                                <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-es"></i> Spanish</a>
                                <a class="dropdown-item" href="#"><i class="flag-icon flag-icon-de"></i> German</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <%- include('left_nav.ejs') %>

        <div class="page-wrapper">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card-body">
                            <h4 class="card-title">Webinar Statistics</h4>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-6 col-lg-3 col-xlg-3">
                                    <div class="card">
                                        <div class="box p-2 rounded bg-info text-center">
                                            <h1 id="userOnline" class="font-weight-light text-white">2,064</h1>
                                            <h6 class="text-white">Attend event right now</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-3 col-xlg-3">
                                    <div class="card">
                                        <div class="box p-2 rounded bg-success text-center">
                                            <h1 id="totalUsers" class="font-weight-light text-white">5963</h1>
                                            <h6 class="text-white">Users register successful</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>




                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card form-horizontal  r-separator">
                            <div class="card-body">
                                <h4 class="card-title">Bot Config</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group row pb-3">
                                    <label for="BOT_DESCRIPTION" class="col-sm-3 text-right control-label col-form-label">Bot
                                        descriptions</label>
                                    <div class="col-sm-9">
                                        <div class="card-body">
                                            <div class="">
                                                <div class="form-group">
                                                    <textarea spellcheck="false" id="BOT_DESCRIPTION" class="form-control" rows="8" placeholder="Text Here..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group row pb-3">
                                    <label for="BOT_WELCOM_AFTER_START" class="col-sm-3 text-right control-label col-form-label">Bot welcom text after
                                        /start</label>

                                    <div class="col-sm-9">
                                        <div class="card-body">
                                            <div class="">
                                                <div class="form-group">
                                                    <textarea spellcheck="false" id="BOT_WELCOM_AFTER_START" class="form-control" rows="10" placeholder="Text Here..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group border-bottom row pb-3">
                                    <label for="bot_username" class="col-sm-3 text-right control-label col-form-label">Bot Username</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="bot_username" placeholder="bot_username">
                                    </div>
                                </div>

                                <div class="form-group border-bottom row pb-3">
                                    <label for="group_invite_link" class="col-sm-3 text-right control-label col-form-label">Group invite
                                        link</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="group_invite_link" placeholder="group_invite_link">
                                    </div>
                                </div>
                                <div class="form-group border-bottom row pb-3">
                                    <label for="domain_verify_endpoint" class="col-sm-3 text-right control-label col-form-label">Domain verify
                                        endpoint</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="domain_verify_endpoint" placeholder="Domain verify endpoint">
                                    </div>
                                </div>

                            </div>

                            <div class="card-body bg-light">
                                <div class="form-group mb-0 text-right">
                                    <button id="btn_botConfigSave" class="btn btn-info waves-effect waves-light">Save</button>
                                    <button id="btn_botConfigCancel" class="btn btn-dark waves-effect waves-light">Cancel</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="card form-horizontal  r-separator">
                            <div class="card-body">
                                <h4 class="card-title">Remind Notification</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group  row pb-3">
                                    <label for="beforeHour" class="col-sm-3 text-right control-label col-form-label">Remind before 1
                                        hour</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="beforeHour" placeholder="beforeHour">
                                        <button id="btn_beforeHourSave" class="btn btn-info waves-effect waves-light">Save remind</button>
                                        <div class="form-group mb-0 text-left">
                                            Sending status:
                                            <label id="beforeHourStatus" class="col-2 text-left control-label col-form-label">Stoped</label>

                                            User received remind message:
                                            <label id="beforeHourCount" class="col-sm-2 text-left control-label col-form-label">0/1000</label>

                                            <button id="btn_beforeHourSend" class="btn btn-warning waves-effect waves-light">Start send</button>
                                            <button id="btn_beforeHourStopSend" class="btn btn-dark waves-effect waves-light">Stop send</button>
                                            <button id="btn_beforeHourReset" class="btn btn-danger waves-effect waves-light">Reset remind</button>
                                        </div>
                                    </div>

                                </div>

                                <hr class="mt-0">

                                <div class="form-group border-bottom row pb-3">
                                    <label for="beforeDay" class="col-sm-3 text-right control-label col-form-label">Remind before 1
                                        day</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="beforeDay" placeholder="beforeDay">
                                        <button id="btn_beforeDaySave" class="btn btn-info waves-effect waves-light">Save remind</button>
                                        <div class="form-group mb-0 text-left">
                                            Sending status:
                                            <label id="beforeDayStatus" class="col-2 text-left control-label col-form-label">Stoped</label>

                                            User received remind message:
                                            <label id="beforeDayCount" class="col-sm-2 text-left control-label col-form-label">0/1000</label>

                                            <button id="btn_beforeDaySend" class="btn btn-warning waves-effect waves-light">Start send</button>
                                            <button id="btn_beforeDayStopSend" class="btn btn-dark waves-effect waves-light">Stop send</button>
                                            <button id="btn_beforeDayReset" class="btn btn-danger waves-effect waves-light">Reset remind</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>




                <div class="row">
                    <div class="col-12">
                        <div class="card form-horizontal r-separator">
                            <div class="card-body">
                                <h4 class="card-title">Zoom App config</h4>
                                <!-- <h6 class="card-subtitle">To use add <code>.r-separator</code> class in the form with form styling.</h6> -->
                            </div>
                            <hr class="mt-0">
                            <!-- <div class="form-horizontal r-separator"> -->
                            <div class="card-body">
                                <div class="form-group border-bottom row pb-3">
                                    <label for="user_oauth_code" class="col-sm-3 text-right control-label col-form-label">User Oauth
                                        Code</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="user_oauth_code" placeholder="User Oauth Code">
                                        <button id="renewOauth" link="" class="btn btn-info waves-effect waves-light">Renew Oauth</button>
                                        <!-- <button id="btnTestToken" link="" class="btn btn-info waves-effect waves-light">Test Token</button> -->
                                    </div>
                                </div>
                                <div class="form-group border-bottom row pb-3">
                                    <label for="redirect_uri" class="col-sm-3 text-right control-label col-form-label">Oauth Redirect
                                        Uri</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="redirect_uri" placeholder="Redirect Uri">
                                    </div>
                                </div>
                                <div class="form-group border-bottom row pb-3">
                                    <label for="app_client_id" class="col-sm-3 text-right control-label col-form-label">App Client
                                        ID</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="app_client_id" placeholder="App Client ID">
                                    </div>
                                </div>
                                <div class="form-group border-bottom row pb-3">
                                    <label for="app_client_secret" class="col-sm-3 text-right control-label col-form-label">App Client
                                        Secrets</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="app_client_secret" placeholder="App Client Secrets">
                                    </div>
                                </div>

                                <div class="form-group border-bottom row pb-3">
                                    <label for="access_token" class="col-sm-3 text-right control-label col-form-label">Access
                                        token</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="access_token" placeholder="App Client ID">
                                    </div>
                                </div>
                                <div class="form-group border-bottom row pb-3">
                                    <label for="refresh_token" class="col-sm-3 text-right control-label col-form-label">Refresh
                                        token</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="refresh_token" placeholder="App Client Secrets">
                                    </div>
                                </div>

                                <div class="form-group border-bottom row pb-3">
                                    <label for="webinarId" class="col-sm-3 text-right control-label col-form-label">Webminar ID</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="webinarId" placeholder="Webminar ID">
                                    </div>
                                </div>
                                <div class="form-group border-bottom row pb-3">
                                    <label for="group_id" class="col-sm-3 text-right control-label col-form-label">Group
                                        ID</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="group_id" placeholder="Group ID">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body bg-light">
                                <div class="form-group mb-0 text-right">
                                    <button id="btn_configSave" class="btn btn-info waves-effect waves-light">Save</button>
                                    <button id="btn_configCancel" class="btn btn-dark waves-effect waves-light">Cancel</button>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>

            </div>



            <footer class="footer">
                © 2020 Code from cafe and tear and money
            </footer>
        </div>


    </div>

    </div>

    <script src="/js/theme/jquery.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="/js/theme/bootstrap.min.js"></script>
    <script src="/js/theme/app.js"></script>
    <script src="/js/theme/app.init.dark.js"></script>
    <script src="/js/theme/app-style-switcher.js"></script>
    <script src="/js/theme/perfect-scrollbar.jquery.min.js"></script>
    <script src="/js/theme/jquery.sparkline.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script src="/js/theme/waves.js"></script>
    <script src="/js/theme/sidebarmenu.js"></script>
    <script src="/js/theme/feather.min.js"></script>
    <script src="/js/theme/custom.js"></script>

    <script src="/js/settings.js"></script>
    <script src="/js/socket.io.js"></script>
</body>

</html>